<nav class="navbar navbar-expand-lg navbar-dark" style="background-color: #516BEB;">
    <div class="container-fluid">
      <a class="navbar-brand fw-bold" href="#">SpotCoding</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link" href="#">Courses</a>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              Tutorials
            </a>
            <div class="dropdown-menu">
              <ul>
                <li><a class="dropdown-item" href="#">HTML and CSS</a></li>
                <li><a class="dropdown-item" href="#">learn HTML</a></li>
                <li><a class="dropdown-item" href="#">learn CSS</a></li>
                <li><a class="dropdown-item" href="#">learn Bootstrap</a></li>
                <li><a class="dropdown-item" href="#">learn SVG</a></li>
  
              </ul>
              <ul>
                <li><a class="dropdown-item" href="#">JAVASCRIPT</a></li>
                <li><a class="dropdown-item" href="#">Learn topic 1</a></li>
                <li><a class="dropdown-item" href="#">Learn topic 1</a></li>
                <li><a class="dropdown-item" href="#">Learn topic 1</a></li>
                <li><a class="dropdown-item" href="#">Learn topic 1</a></li>
  
              </ul>
              <ul>
                <li><a class="dropdown-item" href="#">PROGRAMMING</a></li>
                <li><a class="dropdown-item" href="#">Learn Python</a></li>
                <li><a class="dropdown-item" href="#">Learn Python</a></li>
                <li><a class="dropdown-item" href="#">Learn Python</a></li>
                <li><a class="dropdown-item" href="#">Learn Python</a></li>
  
              </ul>
            </div>
          </li>
         
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              Exercises
            </a>
            <div class="dropdown-menu">
              <ul>
                <li><a class="dropdown-item" href="#">HTML and CSS</a></li>
                <li><a class="dropdown-item" href="#">Exercises 1</a></li>
                <li><a class="dropdown-item" href="#">Exercises 1</a></li>
                <li><a class="dropdown-item" href="#">Exercises 1</a></li>
                <li><a class="dropdown-item" href="#">Exercises 1</a></li>
  
              </ul>
              <ul>
                <li><a class="dropdown-item" href="#">JAVASCRIPT</a></li>
                <li><a class="dropdown-item" href="#">Exercises 1</a></li>
                <li><a class="dropdown-item" href="#">Exercises 1</a></li>
                <li><a class="dropdown-item" href="#">Exercises 1</a></li>
                <li><a class="dropdown-item" href="#">Exercises 1</a></li>
  
              </ul>
              <ul>
                <li><a class="dropdown-item" href="#">PROGRAMMING</a></li>
                <li><a class="dropdown-item" href="#">Exercises 1</a></li>
                <li><a class="dropdown-item" href="#">Exercises 1</a></li>
                <li><a class="dropdown-item" href="#">Exercises 1</a></li>
                <li><a class="dropdown-item" href="#">Exercises 1</a></li>
  
              </ul>
            </div>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Certificates</a>
          </li>
        </ul>
        <form class="d-flex" role="search">
          <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
          <button class="btn btn-outline-light" type="submit" routerLink="/login">Signin</button>
        </form>
      </div>
    </div>
  </nav>
  