 <div class="wrapper">
    <div class="nav-wrapper">
        <app-landing-page-nav> </app-landing-page-nav>
    </div>
    <div class="content-wrapper">
        <div class="starting-content">
            <h1>Learn to Code</h1>
            <h4>Become a Certified Programmer with SpotCoding</h4>
            <form class="d-flex" role="search">
                <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
                <button class="btn btn-outline-light" type="submit" routerLink="/login">Signin</button>
            </form>
       </div>
       <div class="available-course">
        <div class="row">
            <div class="col-sm-6">
              <div class="card left">
                <div class="card-body-left">
                  <h5 class="course-heading">HTML</h5>
                  <p class="course-desc">It is the language for creating webpages</p>
                  <a href="#" class="btn btn-primary">Learn HTML</a>
                  <a href="#" class="btn btn-primary">Video Tutorial</a>
                  <a href="#" class="btn btn-primary">HTML Exercises</a>
                  <a href="#" class="btn btn-primary">Get Certified</a>
                </div>
              </div>
            </div>
            <div class="col-sm-6">
              <div class="card right">
                <div class="card-body-right">
                  <h5 class="card-title">HTMl template example</h5>
                  <img src="../../../assets/images/html-example.png" alt="">
                  <a href="#" class="btn btn-primary">Try Example</a>
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-sm-6">
              <div class="card left">
                <div class="card-body-left">
                  <h5 class="course-heading">HTML</h5>
                  <p class="course-desc">It is the language for creating webpages</p>
                  <a routerLink="/tutorial.page" class="btn btn-primary">Learn HTML</a>
                  <a href="#" class="btn btn-primary">Video Tutorial</a>
                  <a href="#" class="btn btn-primary">HTML Exercises</a>
                  <a href="#" class="btn btn-primary">Get Certified</a>
                </div>
              </div>
            </div>
            <div class="col-sm-6">
              <div class="card right">
                <div class="card-body-right">
                  <h5 class="card-title">HTMl template example</h5>
                  <img src="../../../assets/images/html-example.png" alt="">
                  <a href="#" class="btn btn-primary">Try Example</a>
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-sm-6">
              <div class="card left">
                <div class="card-body-left">
                  <h5 class="course-heading">HTML</h5>
                  <p class="course-desc">It is the language for creating webpages</p>
                  <a href="#" class="btn btn-primary">Learn HTML</a>
                  <a href="#" class="btn btn-primary">Video Tutorial</a>
                  <a href="#" class="btn btn-primary">HTML Exercises</a>
                  <a href="#" class="btn btn-primary">Get Certified</a>
                </div>
              </div>
            </div>
            <div class="col-sm-6">
              <div class="card right">
                <div class="card-body-right">
                  <h5 class="card-title">HTMl template example</h5>
                  <img src="../../../assets/images/html-example.png" alt="">
                  <a href="#" class="btn btn-primary">Try Example</a>
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-sm-6">
              <div class="card left">
                <div class="card-body-left">
                  <h5 class="course-heading">HTML</h5>
                  <p class="course-desc">It is the language for creating webpages</p>
                  <a href="#" class="btn btn-primary">Learn HTML</a>
                  <a href="#" class="btn btn-primary">Video Tutorial</a>
                  <a href="#" class="btn btn-primary">HTML Exercises</a>
                  <a href="#" class="btn btn-primary">Get Certified</a>
                </div>
              </div>
            </div>
            <div class="col-sm-6">
              <div class="card right">
                <div class="card-body-right">
                  <h5 class="card-title">HTMl template example</h5>
                  <img src="../../../assets/images/html-example.png" alt="">
                  <a href="#" class="btn btn-primary">Try Example</a>
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-sm-6">
              <div class="card left">
                <div class="card-body-left">
                  <h5 class="course-heading">HTML</h5>
                  <p class="course-desc">It is the language for creating webpages</p>
                  <a href="#" class="btn btn-primary">Learn HTML</a>
                  <a href="#" class="btn btn-primary">Video Tutorial</a>
                  <a href="#" class="btn btn-primary">HTML Exercises</a>
                  <a href="#" class="btn btn-primary">Get Certified</a>
                </div>
              </div>
            </div>
            <div class="col-sm-6">
              <div class="card right">
                <div class="card-body-right">
                  <h5 class="card-title">HTMl template example</h5>
                  <img src="../../../assets/images/html-example.png" alt="">
                  <a href="#" class="btn btn-primary">Try Example</a>
                </div>
              </div>
            </div>
          </div>
       </div>
   </div>
 </div>   
 