 <div class="wrapper">
    <div class="nav-wrapper">
    </div>
    <div class="content-wrapper">
        <div class="starting-content">
            <h1>Learn to Code</h1>
            <h4>Become a Certified Programmer with SpotCoding</h4>
            <form class="d-flex" role="search">
                <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
                <button class="btn btn-outline-light" type="submit" routerLink="/login">Signin</button>
            </form>
       </div>
       <div class="available-course">
        <div class="row" *ngFor="let courses of available_courses">
            <div class="col-sm-6">
              <div class="card left">
                <div class="card-body-left">
                  <h5 class="course-heading">{{courses.course_heading}}</h5>
                  <p class="course-desc">{{courses.course_desc}}</p>
                   <div *ngFor="let btn of courses.buttons">
                    <a routerLink={{btn.link}} class="btn btn-primary">{{btn.text}}</a>
                   </div>
             
                </div>
              </div>
            </div>
            <div class="col-sm-6">
              <div class="card right">
                <div class="card-body-right">
                  <h5 class="card-title">HTMl template example</h5>
                  <img src='{{courses.example}}' alt="">
                  <a href="#" class="btn btn-primary">Try Example</a>
                </div>
              </div>
            </div>
          </div>
        </div>
   </div>
 </div>   
 